body {
    background-image: url("../Lab 7/cat.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.dabba:active{
    border-radius: 5px;
    animation: move 5s forwards;
    
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
}

@keyframes move {
    0% { transform: translateX(0) skewX(15deg); }
    50% { transform:  skewY(10deg)
        scale(1.5) 
        rotate(270deg) ;}
    100% { transform: translateX(100px); }
}
p::first-letter{
    content:"e";
    color: blue;
}
@keyframes rainbow {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}
p{
    background:linear-gradient(
        to right,
        #ff0000,
        #ff7f00,
        #ffff00,
        #00ff00,
        #0000ff,
        #4b0082,
        #8b00ff
    );
    background-clip: text;
    color:transparent;
    animation: raingbow 5s linear infinite;
}